.venv
.vscode

DeepLense/GeneralTest/.neptune
DeepLense/GeneralTest/model_saves
DeepLense/GeneralTest/dataset
DeepLense/Test2/lens_finding
DeepLense/Test2/model_saves
DeepLense/Test2/.neptune
DeepLense/Test2/.neptune
DeepLense/Test8/lenses
DeepLense/Test8/lenses.tgz